@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --melloye: #ffd045;
  --naradorange: #ffaa00;
  --gray: #ffffff80;
  --gray2: #f7d9d990;
  --black1: #1a1b1f;
  --zardaverde: #196b00;
  --shadow: 0 8px 8px;
  --color_shadow: #00000033;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0;
  height: auto;
}

.container--modifier {
  width: 60%;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, var(--zardaverde) 0%, var(--black1) 100%);
}

.nav__hero {
  color: #fff;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding: 0;
}

#nav__container {
  background-color: blue;
  transition: background-color 1s ease;
}


@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#container-cards {
  animation: girar 2s infinite linear;
}

#logo__name:hover {
  background-color: red;
}

.logo__name {
  font-size: 24px;
}

.link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-weight: 300;
  padding: 10px;
}

.link--active {
  color: var(--melloye);
  font-weight: 700;
}

.point {
  color: var(--melloye);
}

.hero__main {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.fcenter {
  object-fit: cover;
  width: 48%;
  max-height: 90vh;
}

.fcpersonalizadaubi {
  object-fit: cover;
  width: 40%;
  max-height: 90vh;
}

.hero__textos {
  width: 48%;
}

.title {
  font-size: 56px;
  font-weight: 300;
  color: #fff;
}

.copy {
  font-size: 24px;
  color: var(--gray);
  text-shadow: var(--shadow) var(--color_shadow);
  margin: 15px 0;
}

.copy__active {
  font-weight: 700;
}

.cta {
  padding: 20px 30px;
  display: inline-block;
  background: linear-gradient(180deg, #dee3dc 0%, #779c00 100%);
  text-decoration: none;
  color: var(--zardaverde);
  font-weight: 700;
  box-shadow: var(--shadow) var(--color_shadow);
  border-radius: 6px;
}

/* Tournament */

.Tournament {
  background: #fafafa;
}

.subtitle {
  font-size: 42px;
}

.subtitle--modifier {
  text-align: center;
  margin-bottom: 16px;
}

.copy__section {
  color: var(--zardaverde);
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 60px;
}

.copy__section--modifier {
  text-align: center;
  margin-bottom: 32px;
}

.container-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  padding: 30px 0;
  overflow: hidden;
  background: linear-gradient(180deg, var(--zardaverde) 0%, var(--black1) 100%);
  border-radius: 10px;
  position: relative;
  text-align: right;
  margin-bottom: 60px;
  box-shadow: 0 0 6px var(--color_shadow);
}

.card__img {
  width: 95%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.cards__text {
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

.card__list {
  color: var(--naradorange);
  font-weight: 700;
  margin: 25px 0 12px;
  font-size: 18px;
}

.card__title {
  font-size: 40px;
  color: #fff;
  margin-bottom: 8px;
}

.card__copy {
  color: var(--gray2);
  margin-bottom: 16px;
}

.card__button {
  display: block;
  background: linear-gradient(180deg, #dee3dc 0%, #779c00 100%);
  border-radius: 6px;
  text-decoration: none;
  width: 100%;
  color: var(--black1);
  font-weight: 700;
  text-align: center;
  padding: 12px 0;
}

.card__date {
  color: var(--naradorange);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.container-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.background {
  width: 68%;
  height: 290px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 60px;
}

.background__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.Sponsors {
  background: #fafafa;
}

.Sponsors-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Sponsors__card {
  width: 30%;
  height: 500px;
  background: linear-gradient(180deg, var(--zardaverde) 0%, var(--black1) 100%);
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
}

.Sponsors__img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: center top;
}

.Sponsors__copy {
  position: absolute;
  bottom: 20px;
  left: 5%;
  width: 90%;
  background: linear-gradient(180deg, var(--zardaverde) 0%, var(--black1) 100%);
  color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: var(--shadow) var(--color_shadow);
  padding: 15px 8px;
  display: flex;
  align-items: center;
}

.Sponsors__logo {
  font-size: 40px;
  margin-right: 15px;
  display: inline-block;
}

.Sponsors__name {
  font-size: 24px;
  line-height: 28px;
}

.Sponsors__position {
  color: var(--gray);
}

.Sponsors__text {
  padding: 40px 0;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}

.google__logo {
  margin-bottom: 20px;
}

.Sponsors__history {
  font-size: 21px;
  font-weight: 300;
}

.Sponsors__info {
  width: 70%;
}

.logo--picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center top;
}

/* check */

.check {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
}

.check__item {
  width: 30%;
  padding-right: 10px;
  display: flex;
}

.bx-check {
  background: linear-gradient(180deg, var(--zardaverde) 0%, var(--black1) 100%);
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 20px;
  color: #fff;
  border-radius: 50%;
  font-size: 40px;
}

.check__number {
  font-weight: 700;
}

.parent-wrapper {
  position: relative;
  width: 400px;
  height: 144px;
  margin: 40px auto 0;
  background-image: url('http://www.imgbase.info/images/safe-wallpapers/digital_art/1_miscellaneous_digital_art/41750_1_miscellaneous_digital_art_simple_dark_shapes.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -600%;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
}

.close-btn {
  margin: 20px;
  font-size: 18px;
  cursor: pointer;
}

.subscribe-wrapper {
  position: absolute;
  left: -30px;
  right: -30px;
  height: 200px;
  padding: 30px;
  background-image: url('https://i.imgur.com/MRjF1PL.png?1');
  background-position-x: 272%;
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 4px;
  color: #333;
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}

.subscribe-wrapper:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 71px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffaa00;
}

.subscribe-wrapper h4 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 28px;
}

.subscribe-wrapper input {
  position: absolute;
  bottom: 30px;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
  width: 65%;
  background: transparent;
  transition: all .25s ease;
}

.subscribe-wrapper input:focus {
  outline: none;
  border-bottom: 1px solid #ffaa00;
}

.subscribe-wrapper .submit-btn {
  position: absolute;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #ffaa00;
  color: #fff;
  padding: 12px 25px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  right: -10px;
  bottom: 30px;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: -5px 6px 20px 0px rgba(51, 51, 51, 0.4);
}

.subscribe-wrapper .submit-btn:hover {
  background-color: #ffaa00;
}

.footer__caption {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  overflow-x: hidden;
}

.copyright {
  width: 100%;
}

.socialmedia {
  margin-top: 24px;
  display: flex;
  color: var(--zardaverde);
}

.socialmedia__icon {
  font-size: 18px;
  margin-right: 30px;
  display: inline-block;
}

.socialmedia__legend {
  color: var(--zardaverde);
  margin-right: 16px;
}

.contact {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  color: #fff;
}

.item__contact {
  width: 25%;
  padding: 60px 0;
  text-align: center;
  background: linear-gradient(180deg, var(--zardaverde) 0%, var(--black1) 100%);
}

.item__contact--gold {
  background: linear-gradient(180deg, #dee3dc 0%, #779c00 100%);
  color: var(--black1);
}

.contact__icon {
  font-size: 14px;
  color: var(--melloye);
  line-height: 20px;
  margin-right: 4px;
}

.contact__icon--modifier {
  color: var(--black1);
}

@media screen and (max-width: 900px) {
  .fcenter {
    width: 600px;
    height: auto;
  }

  .cta {
    padding: 15px 22px;
  }

  .container-cards {
    justify-content: space-evenly;
  }

  .service .card {
    width: 45%;
  }

  .background {
    width: 52%;
  }

  .card {
    width: 42%;
  }

  .Sponsors-container {
    justify-content: space-evenly;
  }

  .Sponsors__card {
    width: 45%;
  }

  .check__item {
    width: 45%;
    margin-bottom: 35px;
  }

  .parent-wrapper {
    width: 80%;
  }

  .socialmedia__icon {
    font-size: 18px;
  }

  .socialmedia__legend {
    font-size: 18px;
  }
}

@media screen and (max-width: 700px) {
  main .container,
  footer .container {
    padding: 60px 0;
  }

  .nav__container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .nav__hero {
    height: auto;
  }

  .logo {
    padding: 15px 0;
    text-align: center;
  }

  .links {
    padding-bottom: 10px;
    text-align: center;
  }

  .link {
    padding: 7px 10px;
  }

  .hero__main {
    flex-direction: column-reverse;
    justify-content: flex-end;
    min-height: 70px;
    height: auto;
    padding: 30px 0;
  }

  .hero__textos {
    width: 100%;
    text-align: center;
  }

  .fcenter {
    width: 60%;
    margin-bottom: 20px;
  }

  .container-bg {
    justify-content: space-evenly;
  }

  .card {
    margin-bottom: 40px;
    width: 65%;
  }

  .card__button {
    width: 100%;
  }

  .background {
    width: 65%;
    margin-bottom: 40px;
  }

  .Sponsors__card {
    width: 65%;
  }

  .Sponsors__name {
    font-size: 20px;
  }

  .container--modifier {
    width: 80%;
  }

  .item__contact {
    width: 100%;
    padding: 30px 0;
  }
}

@media screen and (max-width: 500px) {
  .fcenter {
    width: 80%;
    margin-bottom: 15px;
  }

  .service .card {
    width: 95%;
  }

  .card {
    width: 95%;
  }

  .background {
    width: 95%;
  }

  .Sponsors__card {
    width: 95%;
  }

  .Sponsors__history {
    font-size: 20px;
  }

  * {
    margin: 0px;
    padding: 0px;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  :root {
    --ancho-lineas: 3px;
  }
}
