#container-cards {
    animation: girar 2s infinite linear;
  }
  
  .fcenter {
    object-fit: cover;
    width: 48%;
    max-height: 90vh;
  }
  
  .fcpersonalizadaubi {
    object-fit: cover;
    width: 40%;
    max-height: 90vh;
  }
  