.actualizar{
    grid-area: actualizar;
    padding-right: 10px;
    display:flex;
    justify-content: flex-end;
    @media all and (max-width:450px){
        width:100%;
        padding-right:0;
        border-radius: 3px;
    }
    @media all and (min-width:451px) AND (max-width:820px){
        width:100%;
        padding-right:0;
        border-radius: 3px;
    }
    a{
        background-color: map-get($boton-general,bg-boton);
        font-family:map-get($boton-general,font-family);
        text-decoration: map-get($boton-general,text-decoration);
        color:map-get($boton-general,color);
        border-radius: map-get($boton-general,radius);
        padding:map-get($boton-general,padding);
        border:map-get($boton-general,border);
        font-size: 1em;
        &:hover{
            transition: 0.5s;
            opacity: 0.8;
            color:$blue;
        }
        @media all and (max-width:450px){
            width:100%;
            height:100%;
            border-radius: 3px;
            text-align:center;
            font-size:25px;
        }
        @media all and (min-width:451px) AND (max-width:820px){
            width:100%;
            height:100%;
            border-radius: 3px;
            text-align:center;
            font-size:25px;
        }
    }
}
}
}
/*Tercera seccion*/
.tercera-seccion--carrito{
font-family: $font-esteban;
background-color: $white;
display:flex;
justify-content:flex-end;
padding-right:100px;
@media all and (max-width:450px){
padding-right:0;
justify-content:center;
}
@media all and (min-width:451px) AND (max-width:820px){
padding-right:0;
justify-content:center;
}
.contenedor-carrito-dos{
width:50%;
display:grid;
grid-template-columns:repeat(2,1fr);
grid-template-rows:40px 40px 80px 40px 50px;
margin-bottom:100px;
@media all and (max-width:450px){
    width:80%;
    padding-left:0;
}
@media all and (min-width:451px) AND (max-width:820px){
    width:80%;
    padding-left:0;
}
div{
    border:1px solid $gray;
    border-radius: 3px;
    display: grid;
    align-items:center;
    padding-left:10px;
    .direccion{
        p{
            @media all and (max-width:450px){
                line-height:0;
            }
        }
    }
}
.titulo-total{
    background-color: $dark;
    color:$azure;
    grid-column-start: span 2;
    h2{
        font-size:30px;
    }
}
.subtitulos{
    @media all and (max-width:450px){
        background-color: $gray-two;
    }
    @media all and (min-width:451px) AND (max-width:820px){
        background-color: $gray-two;
    }
}

.boton-finalizar{
    grid-column-start: span 2;
    background-color: $purple;
    border: none;
    border-radius: 3px;
    &:hover{
        transition: 0.5s;
        opacity: 0.8;
    }
    a{
        background-color: map-get($boton-finalizar,bg-boton);
        text-decoration:map-get($boton-finalizar,text-decoration);
        font-size: map-get($boton-finalizar,font-size);
        color:map-get($boton-finalizar,color);
        text-align: map-get($boton-finalizar,text-align);
    }
}
}
}
